
name: Pylint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt --no-deps || true
        pip install pylint
    - name: Analyzing the code with pylint
      run: |
        pylint --disable=C0111,C0103,C0303,E0401,W0603,R0903 --max-line-length=120 $(git ls-files '*.py')
